<?xml version="1.0"?>
<phpunit
         backupGlobals="true"
         backupStaticAttributes="false" 
         bootstrap="./tests/bootstrap.php" 
         cacheResult="false" 
         colors="true" 
         convertErrorsToExceptions="true" 
         convertNoticesToExceptions="true" 
         convertWarningsToExceptions="true" 
         forceCoversAnnotation="false" 
         processIsolation="false" 
         stopOnError="false" 
         stopOnFailure="false" 
         stopOnIncomplete="false" 
         stopOnSkipped="false" 
         stopOnRisky="false" 
         timeoutForSmallTests="1"
         timeoutForMediumTests="10" 
         timeoutForLargeTests="60" 
         verbose="true">
        
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/BrutalForce/</directory>
        </testsuite>
    </testsuites>
</phpunit>
